<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html>
    <head>
        <title> wordtree.js </title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script language="javascript" src="js/raphael.js" charset="utf-8"></script>
        <script language="javascript" src="js/jquery.js" charset="utf-8"></script>
        <script language="javascript" src="js/wordtree.js" charset="utf-8"></script>
        <script language="javascript">
            function redrawTree()
            {
                $.ajax({
                        type: "POST",
                        url: "jsontree",
                        data: ({
                                text: $("#text").val(),
                                start: $("#start").val()
                              }),
                        success: function(tree) {
                                     drawWordtree(tree, 
                                                  $('#offx').val(),
                                                  $('#offy').val(),
                                                  $('#dotdist').val(),
                                                  $('#maxfont').val());
                                 }
                      });
            }

        </script>
    </head>
        <h1> da wordztreeh </h1>
        <div id="data">
            <p> word:    <input id="start" value="Cruzeiro"/></p>
            <p> text:    <textarea id="text" rows="10" cols="50">
Cruzeiro is a great brazilian football team 
Cruzeiro is a team from Belo Horizonte
Cruzeiro had great players like Tostão, Alex and Sorin
Cruzeiro has won 2 Brasileiros and 2 Libertadores
            </textarea> </p>
            <button onclick="redrawTree()">do it!</button>
        <div id="wordtree">
        </div>
        </div>
    </body>
</html> 
